* {
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   padding-top: 44px;
}

.hide {
   display: none;
}

.container {
   max-width: 1200px;
   margin: auto;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 40px;
}

.input {
   background: #FFFFFF;
   border: 1px solid #D9D9D9;
   border-radius: 2px;
   font-size: 16px;
   line-height: 24px;
   padding: 8px;
   padding-left: 35px;
   background-repeat: no-repeat;
   background-position: left 11px center;
}

.input-address {
   flex: 0.8;
   background-image: url(../img/home.svg);
}

.input-search {
   background-image: url(../img/search.svg);
   width: 300px;
   margin-left: auto;
}

.buttons {
   display: flex;
   align-items: center;
}

.button {
   display: flex;
   align-items: center;
   padding: 8px 16px;
   background: #FFFFFF;
   border: 1px solid #D9D9D9;
   box-sizing: border-box;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
   border-radius: 2px;
   color: #595959;
   font-size: 16px;
   line-height: 24px;
}

.button-primary {
   background: #1890FF;
   border: #1890FF;
   color: #FFFFFF;
   margin-right: 10px;
}

.button-card-text {
   margin-right: 10px;
}

.button-icon {
   margin-right: 6px;
   vertical-align: middle;
}

.button-text {
   vertical-align: middle;
}

.user-name {
   display: none;
   margin-right: 20px;
   font-weight: bold;
   font-size: 18px;
}

.button-out {
   display: none;
   margin: 0 5px;
}

.promo-slider {

   width: 600px;
   height: 300px;

}

.promo {
   box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
   /* background: #FFF1B8 url(../img/promo-image.png) no-repeat top -30px right +50px / 430px ; */
   border-radius: 10px;
   padding: 68px 70px;
   margin-bottom: 56px;
}

.pizza {
   background: #FFF1B8 url(../img/promo-image.png) no-repeat top -30px right +50px / 430px ;
}

.kebab {
   background: #D6E4FF url(../img/promo/kebab.png) no-repeat top 45px right 400px / 450px;
}

.vegetables {
   background: #FFF566 url(../img/promo/vegetables.png) no-repeat top 0 right 0 / 825px
}

.sushi {
   background: #FFF1F0 url(../img/promo/sushi.png) no-repeat top 10px right 15px / 500px
}

.promo-title {
   font-style: normal;
   font-weight: bold;
   font-size: 39px;
   line-height: 46px;
   color: #302C34;
}

.promo-text {
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   color: #302C34;
   max-width: 538px;
}

.main {
   background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.section-heading {
   display: flex;
   align-items: center;
   margin-bottom: 44px;
}

.secrion-title {
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   color: #000000;
   margin: 0;
}

.cards {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
}

.card {
   background: #ffffff;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
   border-radius: 7px;
   overflow: hidden;
   margin-bottom: 30px;
   flex-basis: 31%;
   text-decoration: none; 
}

.card-restaurant {
   cursor: pointer
}

.card-image {
   width: 100%;
   height: 250px;
   object-fit: cover;
}

.menu-card {
   width: 384px;
   height: 250px;
   object-fit: cover;
}

.card-text {
   padding: 20px 23px 35px;
   min-height: 275px;
   display: flex;
   flex-direction: column;
}

.restaurants .card-text {
   min-height: auto;
}

.card-heading {
   color: #000000;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.card-title {
   margin: 0;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 32px;
}
.cald-title-reg {
   font-weight: 400;
}

.card-tag {
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 20px;
   color: #FFFFFF;
   background: #262626;
   border-radius: 2px;
   padding: 1px 8px;
}

.card-info {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.menu {
   margin-left: 30px;
}

.card-buttons {
   display: flex;
   margin-top: 24px;
   flex-grow: 1;
   align-items: flex-end;
}

.card-price-bolt {
   font-size: 20px;
   line-height: 32px;
   margin-left: 30px;
}

.rating {
   margin-right: 26px;
   color: #ffc107;
   font-weight: bold;
   font-size: 18px;
   line-height: 32px;
}

.rating-star {
   margin-right: 5px;
}

.price, 
.category {
   color: #8C8C8C;
   font-size: 18px;
   line-height: 32px;
}

.price {
   margin-right: 10px;
   margin-left: 10px;
}

.ingredients {
   color: #8C8C8C;
   font-size: 18px;
   line-height: 20px;
   margin-top: 10px;
}

.category {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   min-width: 100px;
}

.trait {
   color: #8C8C8C;
   margin-right: 10px;
}

.footer {
   padding: 60px 0;
}

.footer-block {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer-nav {
   margin-left: 35px;
   margin-right: auto;
}

.footer-link {
   display: inline-block;
   color: #595959;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 21px;
   text-decoration: none;

}
.footer-link:not(:last-child) {
   margin-right: 15px;

}

.social-links {
   display: flex;
   align-items: center;
}

.social-link:not(:last-child) {
   margin-right: 21px;
}

.modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.4);
   display: none;
   z-index: 999;
}


.modal-auth {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.4);
   display: none;
   z-index: 999;
}

.is-open {
   display: flex;
}

.modal-dialog {
   max-width: 780px;
   width: 95%;
   background: #ffffff;
   border-radius: 5px;
   margin: auto;
   padding: 40px 45px;
}

.modal-dialog-auth {
   width: auto;
   position: relative;
}

.label-auth {
   display: block;
   margin: 30px;
}

.label-auth span {
   width: 80px;
   display: inline-block;
}

.modal-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 45px;
}

.modal-body {
   margin-bottom: 22px;
}

.modal-title {
   margin: 0;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
}

.close {
   font-size: 36px;
   border: none;
   background-color: transparent;
}

.close-auth {
   font-size: 36px;
   border: none;
   background-color: transparent;
   position: absolute;
   top: 10px;
   right: 20px;
}

.food-row {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding-bottom: 8px;
   border-bottom: 1px solid #d9d9d9;
   margin-bottom: 15px;
}

.modal-footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.modal-auth .modal-footer {
   justify-content: flex-end;
}

.footer-buttons {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.modal-pricetag {
   background: #262626;
   border-radius: 5px;
   color: #ffffff;
   padding: 15px 20px;
   font-size: 20px;
   line-height: 23px;
}

.price-tag {
   background: #262626;
   border-radius: 5px;
   width: 106px;
   height: 53.49px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.price-span {
   font-weight: bold;
   font-size: 20px;
   line-height: 23px;
   color: #FAFAFA;
}

.price-block {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.count-block {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.food-name {
   font-weight: normal;
   font-size: 18px;
   line-height: 32px;
}

.food-price {
   margin-left: auto;
   margin-right: 47px;
   font-weight: bold;
   font-size: 20px;
   line-height: 32px;
}

.food-counter {
   display: flex;
   align-items: center;
}

.counter-button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 39px;
   height: 32px;
   background: #ffffff;
   border: 1px solid #40a9ff;
   box-sizing: border-box;
   border-radius: 2px;
   font-weight: normal;
   font-size: 14px;
   line-height: 22px;
   color: #40a9ff;
}

.counter-button:hover {
   background: #40a9ff;
   border: 1px solid #ffffff;
   color: #ffffff;
}

.counter {
   font-size: 16px;
   line-height: 24px;
   margin-left: 10px;
   margin-right: 10px;
}


@media (max-width: 1366px) {
   .container {
      max-width: 960px;
   }
   .pizza {
      background-position: top +15px right +20px;
      background-size: 350px;

   }
   .kebab {
      background-position: top -5px right -93px;
      background-size: 530px;
   }
   .vegetables {
      background-position: top 0 right -93px;
      background-size: 820px;
   }
   .sushi {
      background-position: center right -90px;
   }
   .card-title {
      font-size: 20px;
   }
   .rating {
      font-size: 14px;
      margin-right: 10px;
   }
   .category, 
   .price {
      font-size: 14px
   }
} 

@media (max-width: 1024px) {
   .container {
      max-width: 700px;
   }
   .promo {
      padding: 50px;
   }
   .pizza {
      background-size: 320px;
      background-position: top +5px right +15px;
   }
   .kebab {
      background-position: top 55px right -100px;
      background-size: 385px;
   }

   .vegetables {
      background-position: top 0 right -280px;
      background-size: 810px;
   }

   .sushi {
      background-position: top 30px right -175px;
   }
   .promo-title {
      font-size: 30px;
      max-width: 350px;
   }
   .promo-text {
      font-size: 15px;
      max-width: 330px;
   }
   .card {
      flex-basis: 49%;
   }
   .footer-link {
      font-size: 16px;
   }
}

@media (max-width: 800px) {
   .container {
      max-width: 560px;
   }
   .card-text {
      min-height: 290px;
   }
   .button {
      font-size: 15px;
      padding: 8px 5px;
   }
   .button-primary {
      margin-right: 5px;
   }
   .promo {
      padding: 50px;
   }
   .pizza {
      background-size: 270px;
      background-position: top -5px right +15px;
   }
   .kebab {
      background-position: top +55px right -64px;
      background-size: 300px;
   }

   .vegetables {
      background-position: top 0 right -240px;
      background-size: 702px;
   }

   .sushi {
      background-position: top +34px right -75px;
      background-size: 302px;
   }
   .promo-title {
      font-size: 22px;
      line-height: 1.4;
   }
   .promo-text {
      font-size: 15px;
      line-height: 20px;
      max-width: 250px;
   }
   .footer {
      padding: 30px 0;
   }
}

@media (max-width: 600px) {
   .container {
      width: 85%;
   }
   .header {
      flex-wrap: wrap;
   }
   .input-address {
      order: 5;
      margin-top: 15px;
      flex: 1;
   }
   .button {
      font-size: 15px;
      padding: 8px 10px;
   }
   .button-primary {
      margin-right: 10px;
   }
   .promo {
      padding: 30px;
   }
   .pizza {
      background-size: 200px;
      background-position: top 0px right +5px;
   }
   .kebab {
      background-position: top +30px right -34px;
      background-size: 200px;
   }

   .vegetables {
      background-position: top 0 right -140px;
      background-size: 502px;
   }

   .sushi {
      background-position: top 0px right -75px;
      background-size: 252px;
   }
   .promo-block {
      align-items: flex-start;
   }
   .promo-title {
      font-size: 18px;
      line-height: 1.0;
   }
   .promo-text {
      font-size: 12px;
      line-height: 20px;
      max-width: 190px;
   }
   .input-search {
      width: 250px;
   }
   .card {
      flex-basis: 100%
   }
   .card-text {
      min-height: auto;
   }
   .card-image {
      width: 100%;
   }
   .footer-nav {
      margin-left: 0;
      margin-right: 0;
      order: 0;
      display: flex;
      flex-direction: column;
   }
   .footer-logo {
      order: 2;
   }
   .social-links {
      order: 1;
      margin-right: 10%;
   }
}

@media (max-width: 480px) {
   .section-heading {
      flex-wrap: wrap;
      padding-top: 5px;
      line-height: 30px;
   }
   .button {
      min-height: 35px;
   }
   .button-text {
      display: none;
   }

   .user-name {
      margin: 10px;
   }

   .button-out-svg {
      width: 24px;
      height: 24px;
      background-color: #fff;
      -webkit-mask: url(../img/icon/logout.svg) no-repeat 50% 50%;
      mask: url(../img/icon/logout.svg) no-repeat 50% 50%;
      background-repeat: no-repeat;
      -webkit-mask-size: 20px;
      mask-size: 20px;
   }

   .promo {
      padding: 15px;
      background-size: 150px;
      background-position: top -10px right +5px;
      margin-bottom: 20px;
   }
   
   .promo-title {
      font-size: 14px;
      line-height: 0.9;
   }
   .promo-text {
      font-size: 10px;
      line-height: 10px;
      max-width: 140px;
   }
   .footer-block {
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
   }
   .footer-nav {
      margin-bottom: 20px;
      text-align: center;
   }
   .social-links {
      margin-right: 0%;
      margin-bottom: 20px;
   }
   .footer-link:not(:last-child){
      margin-right: 0;
   }
}
